/*MEDIA QUERIES!!!

Media queries aren't affected by rem and em values we set in the root
1 em = 16px 

----DEVICES----
phone = 600px
portrait tab = 900px
landscape tab = 1200px
large desktops = 1800px

Below is a mixin for the media queries*/
/*animations for the header text*/
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-11rem); }
  90% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  90% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: translateY(-0.2rem) scale(1.05);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/*Universal Selector Reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Setting the font size to be 10px if the default user-agent font size is 16px, so that I can make caluclations easily*/
  /*Setting the font size as a percentage instead of strictly 10px, just in case the user changes the default font size in the browser from 16px.
  So that my webpages root font size will change accordingly*/
  /*The main purpose of setting the root element font size is to use 10px as the default font size.*/
  /*To get 1rem to be equal to 10px, divide 10 by 16*/
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /*Box-size is inherited by the universal selector*/
  box-sizing: border-box; }

::selection {
  background-color: #000;
  color: #fff; }

body {
  font-family: 'Oswald', sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.6; }

/*HERO SECTION*/
.main-heading {
  color: #fff;
  text-transform: uppercase; }
  .main-heading__text-level-one {
    display: block;
    font-size: 15rem;
    animation-name: moveInFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 56.25em) {
      .main-heading__text-level-one {
        font-size: 13rem;
        line-height: 1.4; } }
    @media only screen and (max-width: 37.5em) {
      .main-heading__text-level-one {
        font-size: 10rem;
        line-height: 1.3; } }
  .main-heading__text-level-two {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    animation-name: moveInFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .main-heading__text-level-two {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .main-heading__text-level-two {
        font-size: 3rem;
        line-height: 1.2; } }

/*COMMON SECONDARY HEADING*/
.secondary__heading {
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  display: inline-block;
  background-image: linear-gradient(to right, #414345, #232526);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .secondary__heading {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .secondary__heading {
      font-size: 3.2rem; } }
  .secondary__heading:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 2rem 3rem 2rem rgba(0, 0, 0, 0.3); }

/*COMMON THIRD HEADING*/
.header__tertiary {
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
  opacity: 0.9; }
  @media only screen and (max-width: 56.25em) {
    .header__tertiary {
      font-size: 2rem;
      margin-bottom: 2.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__tertiary {
      font-size: 1.8rem; } }

/*ABOUT SECTION*/
.about__description__text {
  font-size: 2rem;
  flex-wrap: wrap; }
  .about__description__text:not(:last-child) {
    margin-bottom: 3rem; }

.stories__heading {
  margin-top: 3rem; }

/*BOOKING SECTION*/
.booking__heading {
  margin: 1rem 4rem; }
  @media only screen and (max-width: 37.5em) {
    .booking__heading {
      font-size: 3rem; } }

.u-align-text-center {
  text-align: center; }

.u-marg-bottom-8 {
  margin-bottom: 8rem; }

.u-marg-bottom-4 {
  margin-bottom: 4rem; }

.btn--discover {
  background-color: #fff;
  border-radius: 10rem;
  padding: 1.2rem 2.4rem;
  animation-name: moveInFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards; }
  .btn--discover::after {
    background-color: #fff; }

/*General Button*/
.btn:link,
.btn:visited {
  text-decoration: none;
  color: #868e96;
  font-size: 2.2rem;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  /*Pseudo elements allow us style parts of an element
AFTER - style a virtual element right after the element we're selecting 
After pseudo element is trated like a child element, of the element we're choosing*/
  /*General Button*/
  /*General Button*/ }
  .btn:link:hover, .btn:link:active,
  .btn:visited:hover,
  .btn:visited:active {
    box-shadow: 0rem 1.3rem 1rem #706f6f;
    transform: translateY(-1rem); }
  .btn:link::after,
  .btn:visited::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem; }
  .btn:link:hover::after,
  .btn:visited:hover::after {
    transform: scaleY(1.7) scaleX(1.4);
    opacity: 0; }

/*General Button*/
.btn--card, .btn--card:link, .btn--card:visited {
  text-decoration: none;
  color: #000;
  font-size: 2.2rem;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  /*Pseudo elements allow us style parts of an element
AFTER - style a virtual element right after the element we're selecting 
After pseudo element is trated like a child element, of the element we're choosing*/
  /*General Button*/
  /*General Button*/ }
  .btn--card:hover, .btn--card:active, .btn--card:link:hover, .btn--card:link:active, .btn--card:visited:hover, .btn--card:visited:active {
    box-shadow: 0rem 1.3rem 1rem rgba(77, 77, 77, 0.25);
    transform: translateY(-1rem); }
  .btn--card::after, .btn--card:link::after, .btn--card:visited::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem; }
  .btn--card:hover::after, .btn--card:link:hover::after, .btn--card:visited:hover::after {
    transform: scaleY(1.7) scaleX(1.4);
    opacity: 0; }

.about__images {
  position: relative; }
  .about__images__img {
    height: 50%;
    width: 40%;
    box-shadow: 0px 3.3rem 2rem rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all 0.3s;
    outline-offset: 1.2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__images__img {
        width: 164.55px;
        height: 126.98px;
        box-shadow: 0px 2rem 1rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 37.5em) {
      .about__images__img {
        width: 103px;
        box-shadow: 0px 2rem 1rem rgba(0, 0, 0, 0.2);
        outline-offset: 0.1rem; } }
    .about__images__img--img1 {
      position: absolute;
      top: -1rem;
      left: 10%; }
      @media only screen and (max-width: 56.25em) {
        .about__images__img--img1 {
          top: 3rem;
          left: -103%;
          transform: scale(1.1); } }
      @media only screen and (max-width: 37.5em) {
        .about__images__img--img1 {
          top: 3rem;
          left: -113%; } }
    .about__images__img--img2 {
      position: absolute;
      top: 6%;
      left: 33%; }
      @media only screen and (max-width: 56.25em) {
        .about__images__img--img2 {
          top: 3rem;
          left: 97%;
          transform: scale(1.1); } }
      @media only screen and (max-width: 37.5em) {
        .about__images__img--img2 {
          top: 3rem;
          left: 80%; } }
    .about__images__img--img3 {
      top: 25%;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .about__images__img--img3 {
          top: 2rem;
          left: -3%;
          transform: scale(1.2); } }
      @media only screen and (max-width: 37.5em) {
        .about__images__img--img3 {
          top: 2rem;
          left: -12%; } }
    .about__images__img:hover {
      z-index: 10;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0px 4.3rem 2rem rgba(0, 0, 0, 0.35);
      outline: 0.8rem solid black; }
      @media only screen and (max-width: 37.5em) {
        .about__images__img:hover {
          outline: 0.4rem solid black; } }

.features__box {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  align-content: space-between;
  border-radius: 4px;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  flex: 0 0 23%;
  transition: all 0.3s; }
  .features__box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .features__box {
      padding: 1rem 2rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .features__box {
      padding: 0.75rem 1rem;
      margin-bottom: 2rem; }
      .features__box:last-child {
        margin-bottom: 5rem; } }

.features__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #6f7174, #232526);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .features__icon {
      font-size: 4rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .features__icon {
      font-size: 3rem;
      margin-bottom: 1.6rem; } }

.features__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.2rem; }
  @media only screen and (max-width: 56.25em) {
    .features__heading {
      font-size: 1.6rem;
      letter-spacing: 0.5px;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .features__heading {
      font-size: 1.4rem; } }

.features__text {
  font-weight: 400;
  font-size: 1.65rem; }

.tours__flexbox {
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .tours__flexbox {
      flex-direction: column;
      align-items: center;
      gap: 7rem; } }
  @media only screen and (max-width: 75em) {
    .tours__flexbox {
      justify-content: space-between; } }

.tours__card {
  -moz-perspective: 100rem;
  perspective: 100rem;
  width: 40rem;
  height: 56rem;
  border-radius: 4px;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .tours__card {
      width: 35rem; } }
  .tours__card__side {
    transition: all 0.8s ease;
    overflow: hidden;
    width: 40rem;
    height: 56rem;
    border-radius: 4px;
    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute; }
    @media only screen and (max-width: 75em) {
      .tours__card__side {
        width: 35rem; } }
    .tours__card__side--front {
      background-color: #fff; }
    .tours__card__side--back {
      transform: rotateY(180deg); }
      .tours__card__side--back--first {
        background-image: linear-gradient(to right bottom, #141e30, #243b55); }
      .tours__card__side--back--second {
        background-image: linear-gradient(to right bottom, #232526, #414345); }
      .tours__card__side--back--third {
        background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d); }
  .tours__card__image {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .tours__card__image--first {
      background-image: linear-gradient(to right bottom, #141e30, #243b55), url(../img/card-1.jpg); }
    .tours__card__image--second {
      background-image: linear-gradient(to right bottom, #232526, #414345), url(../img/card-2.jpg); }
    .tours__card__image--third {
      background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d), url(../img/card-3.jpg); }
  .tours__card__heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    top: 18%;
    left: 46%;
    width: 50%;
    text-align: right; }
    @media only screen and (max-width: 75em) {
      .tours__card__heading {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .tours__card__heading {
        font-size: 3.2rem;
        top: 22%;
        left: 48%; } }
  .tours__card__heading__span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .tours__card__heading__span--first {
      background-image: linear-gradient(to right bottom, rgba(20, 30, 48, 0.85), rgba(36, 59, 85, 0.85)); }
    .tours__card__heading__span--second {
      background-image: linear-gradient(to right bottom, rgba(35, 37, 38, 0.85), rgba(65, 67, 69, 0.85)); }
    .tours__card__heading__span--third {
      background-image: linear-gradient(to right bottom, rgba(251, 211, 233, 0.85), rgba(187, 55, 125, 0.85)); }
  .tours__card__info {
    font-size: 2.5rem;
    text-align: center;
    color: #474646;
    padding-top: 2rem; }
    @media only screen and (max-width: 75em) {
      .tours__card__info {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .tours__card__info {
        font-size: 2.6rem; } }
    .tours__card__info__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .tours__card__info__list__item {
        width: 65%;
        margin: 1rem 0; }
        .tours__card__info__list__item:not(:last-child) {
          border-bottom: 1px solid #d6d3d3; }
  .tours__card__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10rem; }
    .tours__card__cta__only {
      color: #fff;
      font-size: 4rem;
      font-weight: 100;
      text-transform: uppercase; }
      @media only screen and (max-width: 75em) {
        .tours__card__cta__only {
          font-size: 3rem; } }
    .tours__card__cta__price {
      color: #fff;
      font-size: 7rem;
      font-weight: 100;
      margin-bottom: 6rem; }
      @media only screen and (max-width: 75em) {
        .tours__card__cta__price {
          font-size: 5rem; } }
    .tours__card__cta__btn {
      background-color: #fff;
      border-radius: 10rem;
      text-decoration: none;
      padding: 1.2rem 4rem;
      font-size: 2.6rem;
      color: #000;
      text-transform: uppercase; }
      .tours__card__cta__btn::after {
        background-color: #fff; }
      @media only screen and (max-width: 75em) {
        .tours__card__cta__btn {
          font-size: 2rem;
          padding: 1.2rem 2.2rem; } }
  .tours__card:hover .tours__card__side--front {
    transform: rotateY(-180deg); }
  .tours__card:hover .tours__card__side--back {
    transform: rotateY(0deg); }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .tours__card {
      width: 35rem;
      height: auto;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0rem 2.2rem 3rem rgba(0, 0, 0, 0.3); }
      .tours__card__side {
        overflow: hidden;
        width: 35rem;
        height: auto;
        position: relative;
        box-shadow: none; }
        .tours__card__side--back {
          transform: rotateY(0deg);
          -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); }
      .tours__card__heading {
        font-size: 2.8rem;
        top: 22%;
        left: 48%; }
      .tours__card__info {
        font-size: 2.5rem; }
      .tours__card__cta {
        margin: 3rem;
        padding-top: 3rem; }
        .tours__card__cta__only {
          font-size: 4rem; }
        .tours__card__cta__price {
          font-size: 6rem;
          margin-bottom: 4rem; }
        .tours__card__cta__btn {
          padding: 1.2rem 3rem;
          font-size: 2.2rem; }
      .tours__card:hover .tours__card__side--front {
        transform: rotateY(0deg); }
      .tours__card:hover .tours__card__side--back {
        transform: rotateY(0deg); } }

.stories__container {
  padding: 5rem;
  padding-left: 8rem;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.6);
  width: 45%;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg); }
  .stories__container:not(:last-child) {
    margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .stories__container {
      width: 90%;
      padding: 4rem;
      padding-left: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .stories__container {
      width: 95%;
      padding: 2rem;
      padding-left: 1rem;
      transform: skewX(0); } }

.stories__user {
  width: 15rem;
  height: 15rem;
  transform: translateX(-3rem) skewX(12.01deg);
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  float: left;
  border-radius: 10rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 37.5em) {
    .stories__user {
      transform: translateX(0) skewX(0); } }
  .stories__user__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.1);
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .stories__user__img {
        transform: translateX(0) scale(1.1); } }
  .stories__user__name {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.3rem;
    color: #fff;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 20%); }
  .stories__user:hover .stories__user__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-3rem) scale(1); }
  .stories__user:hover .stories__user__name {
    transform: translate(-30%, -50%);
    opacity: 1; }

.stories__description {
  transform: skewX(12deg);
  margin-left: 11rem; }
  @media only screen and (max-width: 37.5em) {
    .stories__description {
      transform: skewX(0);
      padding-left: 5rem; } }

.stories__header {
  margin-bottom: 1rem;
  display: inline-block; }

.stories__text {
  font-size: 2rem; }

.stories__btn:link,
.stories__btn:visited {
  margin-top: 3.5rem;
  font-size: 3rem;
  margin-left: 47%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.link__btn:link,
.link__btn:visited {
  font-size: 2rem;
  align-self: flex-start;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  color: #000;
  border-bottom: 1px solid currentColor;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s; }

.link__btn:hover,
.link__btn:active {
  transform: translateY(-0.2rem);
  background-color: #000;
  box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.25);
  color: #cdd2d6; }

.booking__form {
  padding: 6rem;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .booking__form {
      width: 100%; } }
  .booking__form__group {
    position: relative; }

.input {
  width: 90%;
  display: block;
  padding: 1.2rem 1.6rem;
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  opacity: 0.8;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .input {
      width: 100%;
      outline: 1px solid #b8b4b4; } }
  .input:focus {
    outline: none;
    border-bottom: 3px solid #37b24d;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  .input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.8; }
  .input:focus:invalid {
    border-bottom: 3px solid red; }
  .input:not(:last-child) {
    margin-bottom: 4rem; }

.label {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.8;
  display: block;
  transition: all 0.3s;
  position: absolute;
  left: 3%;
  top: 110%; }

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem); }

.radio-btn__group {
  width: 40%;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 1rem 0;
  /*
Steps
1 - check if the radio-btn is clicked
2 - If so, select the adjacent sibling, which is the label
3 - Then, select the child element of the label, which is the span element (custom-radio)*/ }
  .radio-btn__group__radio-btn {
    display: none; }
  .radio-btn__group__radio-btn-label {
    cursor: pointer;
    position: relative;
    padding-left: 4rem; }
  .radio-btn__group__custom-radio {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    border: 4px solid #2f9e44;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; }
    .radio-btn__group__custom-radio::after {
      content: '';
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 10rem;
      background-color: #2f9e44;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s; }
  .radio-btn__group__radio-btn:checked + .radio-btn__group__radio-btn-label .radio-btn__group__custom-radio::after {
    opacity: 1; }

.form-submit-btn {
  margin-top: 3rem;
  background-color: #000;
  border-radius: 10rem;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer; }
  .form-submit-btn:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.6); }
  @media only screen and (max-width: 75em) {
    .popup__header {
      font-size: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .popup__header {
      font-size: 2.8rem;
      padding-top: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .popup__header {
      font-size: 2rem; } }
  .popup__container {
    background-color: #fff;
    width: 70%;
    border-radius: 3px;
    display: flex;
    margin: 15rem auto;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transform: scale(0.25);
    transition: all 0.5s 0.2s; }
    @media only screen and (max-width: 75em) {
      .popup__container {
        height: 55%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__container {
        height: 42%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__container {
        width: 95%;
        height: 37%; } }
  .popup__close {
    position: absolute;
    top: -2%;
    right: 1%;
    font-size: 5rem;
    color: #353434;
    text-decoration: none;
    transition: all 0.2s; }
    .popup__close:hover {
      color: #000; }
    @media only screen and (max-width: 56.25em) {
      .popup__close {
        top: -5%;
        right: 1%;
        font-size: 4rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__container {
    transform: scale(1); }
  .popup__imgs {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    overflow: hidden; }
  .popup__img {
    display: block;
    width: 100%;
    transition: all 0.4s; }
    .popup__img:hover {
      transform: scale(1.1); }
  .popup__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem 3rem;
    justify-content: space-evenly;
    align-items: center;
    -moz-webkit-hyphens: auto;
    -ms-webkit-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        padding: 1rem 2.4rem; } }
  .popup__description {
    font-size: 3rem; }
    .popup__description:not(:last-child) {
      margin-bottom: 2.2rem; }
    @media only screen and (max-width: 75em) {
      .popup__description {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup__description {
        font-size: 1.6rem; } }
  .popup__btn {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 1.4rem 2.2rem;
    border-radius: 10rem;
    width: 20rem; }
    .popup__btn:hover {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 75em) {
      .popup__btn {
        padding: 1rem 1.8rem;
        font-size: 1.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .popup__btn {
        width: 15rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .popup__btn {
        font-size: 1rem;
        width: 10rem;
        position: absolute;
        top: 89%;
        left: 50%;
        transform: translateX(-50%); } }

.header {
  height: 95vh;
  width: 100%;
  /* background-image: url(../img/heroImg.jpg); */
  background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.596), rgba(53, 50, 50, 0.774)), url(../img/heroImg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: rgba(0, 0, 0, 0.836);
  padding: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 6rem 2rem; } }
  .footer__logo-box {
    text-align: center; }
  .footer__img {
    display: inline-block; }
  .footer__heading {
    color: #fff;
    font-size: 5.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    display: inline-block;
    text-align: center; }
  .footer__info {
    display: flex;
    justify-content: space-around;
    align-content: center; }
    @media only screen and (max-width: 75em) {
      .footer__info {
        justify-content: space-evenly; } }
    @media only screen and (max-width: 37.5em) {
      .footer__info {
        flex-direction: column;
        gap: 5rem; } }
  .footer__navigation {
    flex: 0 0 30%; }
    @media only screen and (max-width: 75em) {
      .footer__navigation {
        flex: 0 0 45%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        flex: 0 0 35%; } }
  .footer__list {
    display: flex;
    list-style: none;
    font-size: 2rem;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 2rem; }
    @media only screen and (max-width: 75em) {
      .footer__list {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__list {
        justify-content: space-around; } }
  .footer__item {
    cursor: pointer;
    transition: all 0.2s;
    padding: 0.5rem 0.8rem; }
    .footer__item:hover {
      transform: rotate(5deg) scale(1.1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 100; }
    .footer__link:hover {
      color: #40c057; }
  .footer__paragraph {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 100;
    flex: 0 0 30%; }
    @media only screen and (max-width: 75em) {
      .footer__paragraph {
        font-size: 2.2rem;
        flex: 0 0 35%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__paragraph {
        text-align: center; } }
  .footer__copyright {
    border-top: 1px solid #fff;
    display: inline-block;
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        display: block; } }

.navigation {
  /*
  - goes from the top
  + goes from the bottom*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__label {
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
    background-color: #fff;
    z-index: 2000;
    position: fixed;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    right: 1%;
    top: 4%; }
    @media only screen and (max-width: 37.5em) {
      .navigation__label {
        right: 5%;
        top: 4%; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    background-image: radial-gradient(#232029, #e7e9bb);
    position: fixed;
    z-index: 1000;
    transition: transform 0.6s cubic-bezier(0.37, 0, 0.63, 1);
    right: 1%;
    top: 4.5%; }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        right: 5%;
        top: 4.5%; } }
  .navigation__navbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1500;
    height: 100vh;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__list {
    list-style: none;
    counter-reset: links;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
  .navigation__item:not(:last-child) {
    margin-bottom: 1.6rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 6rem;
    color: #313131;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 240%;
    transition: all 0.3s; }
    .navigation__link:link::before, .navigation__link:visited::before {
      counter-increment: links;
      content: "0" counter(links);
      font-size: 6rem;
      font-weight: 100;
      margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 3rem; } }
  .navigation__link:hover, .navigation__link:active {
    transform: translateX(1rem) rotate(0.1deg);
    background-position: 100%; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(90); }
  .navigation__checkbox:checked ~ .navigation__navbar {
    opacity: 1;
    visibility: visible;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 0.2rem;
      display: inline-block;
      background-color: #000;
      position: absolute;
      left: 50%;
      transition: all 0.3s;
      transform: translate(-50%, -50%);
      backface-visibility: hidden; }
    .navigation__icon::before, .navigation__icon::after {
      content: ""; }
    .navigation__icon::before {
      top: -0.6rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__label:hover .navigation__icon::before {
    top: -0.8rem; }
  .navigation__label:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__label .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__label .navigation__icon::before {
    top: 0;
    left: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__label .navigation__icon::after {
    top: 0;
    left: 0;
    transform: rotate(-135deg); }

.about {
  background-color: #f7f7f7;
  padding-top: 5rem; }
  .about__content {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem 3rem 45rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        margin: 0rem 4rem 10.5rem 15rem;
        align-items: center;
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .about__content {
        margin: 0rem 4rem 10.5rem 10rem;
        align-items: center; } }
  .about__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%; }
    @media only screen and (max-width: 56.25em) {
      .about__description {
        flex: 0 0 55%;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__description {
        flex: 0 0 45%;
        margin-bottom: 3rem; } }

/*Features section*/
.features {
  margin: -3rem 4rem 0 4rem;
  background-image: linear-gradient(to right bottom, rgba(61, 61, 61, 0.596), rgba(34, 33, 33, 0.774)), url(../img/features.jpg);
  background-size: cover;
  background-position: center center;
  /*
  p1 - top left X
  p2 - top right X
  p3 - bottom right X
  p4 - bottom left X
  */
  transform: skewY(-4deg);
  padding: 20rem 10rem; }
  .features > * {
    transform: skewY(4deg); }
  @media only screen and (max-width: 56.25em) {
    .features {
      padding: 10rem 2rem;
      margin: -1rem 4rem 0 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .features {
      padding: 8rem 2rem; } }
  .features__section {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .features__section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center; } }

.tours {
  padding: 20rem 10rem;
  background-color: #f7f7f7;
  margin-top: -10rem;
  margin-bottom: 10rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .tours {
      padding: 10rem 5rem;
      margin-bottom: 15rem; } }
  @media only screen and (max-width: 37.5em) {
    .tours {
      margin-bottom: 1rem; } }
  .tours__discover__btn {
    color: #fff;
    display: inline-block;
    background-color: #000;
    border-radius: 10rem;
    padding: 2rem 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10rem;
    transition: all 0.2s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .tours__discover__btn:hover {
      animation: pulsate 1s infinite; }
    @media only screen and (max-width: 56.25em) {
      .tours__discover__btn {
        font-size: 2.2rem;
        margin-top: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .tours__discover__btn {
        font-size: 1.8rem;
        padding: 1.8rem 3rem;
        margin-top: 4rem; } }

/*STORIES SECTION*/
.stories {
  max-width: 235rem;
  margin: 0 auto;
  padding: 4rem 0;
  position: relative; }

/*BOOKING SECTION*/
.tour__booking {
  margin-top: 4rem;
  padding: 15rem 0;
  background-image: linear-gradient(#dddddd69, #dddddd); }
  .tour__booking__container {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/form-img.webp);
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    max-width: 150rem;
    margin: 0 auto;
    box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 37.5em) {
      .tour__booking__container {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%);
        max-width: 90rem;
        box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.4); } }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^='col-'] {
    background-color: orangered;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (((100% - 2 * 6rem) / 3) * 2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 3 + 6rem * 2); }
