.booking__form {
  padding: 6rem;
  width: 50%;

  //Media query for <= 600px
  @include respond(phone) {
    width: 100%;
  }

  &__group {
    position: relative;
  }
}

.input {
  width: 90%;
  display: block;
  padding: 1.2rem 1.6rem;
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  opacity: 0.8;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;

  //Media query for <= 600px
  @include respond(phone) {
    width: 100%;
    outline: 1px solid rgb(184, 180, 180);
  }

  //On input box focus
  &:focus {
    outline: none;
    border-bottom: 3px solid #37b24d;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
  }

  //To give the placeholder text color
  &::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.8;
  }

  //For data validation on the client side
  &:focus:invalid {
    border-bottom: 3px solid rgb(255, 0, 0);
  }

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.label {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.8;
  display: block;
  transition: all 0.3s;

  position: absolute;
  left: 3%;
  top: 110%;
}

//To hide the label when the user isnt typing anything in the input box
.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

//RADIO BUTTONS
.radio-btn__group {
  width: 40%;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 100;
  margin: 1rem 0;

  &__radio-btn {
    display: none;
  }

  &__radio-btn-label {
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  //Custom radio button
  &__custom-radio {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    border: 4px solid #2f9e44;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    //Styling the inner circle
    &::after {
      content: '';
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 10rem;
      background-color: #2f9e44;
      position: absolute;
      opacity: 0;
      //To center
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s;
    }
  }

  //To show the inner circle only if the radio-btn is clicked
  /*
Steps
1 - check if the radio-btn is clicked
2 - If so, select the adjacent sibling, which is the label
3 - Then, select the child element of the label, which is the span element (custom-radio)*/
  &__radio-btn:checked + &__radio-btn-label &__custom-radio::after {
    opacity: 1;
  }
}

//Form submit btn
.form-submit-btn {
  margin-top: 3rem;
  background-color: #000;
  border-radius: 10rem;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  }
}
