.tours__flexbox {
  display: flex;
  justify-content: space-around;

  //Media query for <= 900px
  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    gap: 7rem;
  }

  //Media query for <= 1200px
  @include respond(tab-land) {
    justify-content: space-between;
  }
}

.tours__card {
  -moz-perspective: 100rem;
  perspective: 100rem;

  width: 40rem;
  height: 56rem;
  border-radius: 4px;
  position: relative;

  //Media query for <= 1200px
  @include respond(tab-land) {
    width: 35rem;
  }

  &__side {
    transition: all 0.8s ease;

    overflow: hidden;
    width: 40rem;
    height: 56rem;
    border-radius: 4px;

    box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    //Media query for <= 1200px
    @include respond(tab-land) {
      width: 35rem;
    }

    &--front {
      background-color: #fff;
    }

    //Back of the card is already rotated 180 deg in the beginning cos it doesn't face the user
    &--back {
      transform: rotateY(180deg);

      &--first {
        background-image: linear-gradient(to right bottom, #141e30, #243b55);
      }

      &--second {
        background-image: linear-gradient(to right bottom, #232526, #414345);
      }

      &--third {
        background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d);
      }
    }
  }

  //Tour Card details

  &__image {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &--first {
      //using background image to use background blend mode
      background-image: linear-gradient(to right bottom, #141e30, #243b55),
        url(../img/card-1.jpg);
    }

    &--second {
      //using background image to use background blend mode
      background-image: linear-gradient(to right bottom, #232526, #414345),
        url(../img/card-2.jpg);
    }

    &--third {
      //using background image to use background blend mode
      background-image: linear-gradient(to right bottom, #fbd3e9, #bb377d),
        url(../img/card-3.jpg);
    }
  }

  &__heading {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    top: 18%;
    left: 46%;
    width: 50%;
    text-align: right;

    //Media query for <= 1200px
    @include respond(tab-land) {
      font-size: 2.2rem;
    }

    //Media query for <= 900px
    @include respond(tab-port) {
      font-size: 3.2rem;
      top: 22%;
      left: 48%;
    }
  }

  &__heading__span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--first {
      background-image: linear-gradient(
        to right bottom,
        rgba(20, 30, 48, 0.85),
        rgba(36, 59, 85, 0.85)
      );
    }

    &--second {
      background-image: linear-gradient(
        to right bottom,
        rgba(35, 37, 38, 0.85),
        rgba(65, 67, 69, 0.85)
      );
    }

    &--third {
      background-image: linear-gradient(
        to right bottom,
        rgba(251, 211, 233, 0.85),
        rgba(187, 55, 125, 0.85)
      );
    }
  }

  &__info {
    font-size: 2.5rem;
    text-align: center;
    color: rgb(71, 70, 70);
    padding-top: 2rem;

    //Media query for <= 1200px
    @include respond(tab-land) {
      font-size: 2rem;
    }

    //Media query for <= 900px
    @include respond(tab-port) {
      font-size: 2.6rem;
    }

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &__item {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(214, 211, 211);
        }
        width: 65%;
        margin: 1rem 0;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10rem;

    &__only {
      color: #fff;
      font-size: 4rem;
      font-weight: 100;
      text-transform: uppercase;

      //Media query for <= 1200px
      @include respond(tab-land) {
        font-size: 3rem;
      }
    }

    &__price {
      color: #fff;
      font-size: 7rem;
      font-weight: 100;
      margin-bottom: 6rem;

      //Media query for <= 1200px
      @include respond(tab-land) {
        font-size: 5rem;
      }
    }

    &__btn {
      background-color: #fff;
      border-radius: 10rem;
      text-decoration: none;
      padding: 1.2rem 4rem;
      font-size: 2.6rem;
      color: #000;
      text-transform: uppercase;

      &::after {
        background-color: $white-background;
      }

      //Media query for <= 1200px
      @include respond(tab-land) {
        font-size: 2rem;
        padding: 1.2rem 2.2rem;
      }
    }
  }

  //When hovering over the parent element target the child elements and perform the transform
  //If i didnt choose the parent element and just added the hover to the child elements, they would transform only when i hover over them individually
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  //Bring the back side of the card to the original position it would normally be in. Which is facing the user => 0 deg roataion
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  ///// MEDIA QUERY/////
  // @include respond(tab-port) {
  //For touch devices too
  @media only screen and(max-width: 56.25em), only screen and(hover:none) {
    width: 35rem;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0rem 2.2rem 3rem rgba(0, 0, 0, 0.3);

    &__side {
      overflow: hidden;
      width: 35rem;
      height: auto;
      position: relative;
      box-shadow: none;

      //Back of the card is already rotated 180 deg in other screen resolutions. So turn it back to the default value
      &--back {
        transform: rotateY(0deg);
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &__heading {
      font-size: 2.8rem;
      top: 22%;
      left: 48%;
    }

    &__info {
      font-size: 2.5rem;
    }

    &__cta {
      margin: 3rem;
      padding-top: 3rem;

      &__only {
        font-size: 4rem;
      }

      &__price {
        font-size: 6rem;
        margin-bottom: 4rem;
      }

      &__btn {
        padding: 1.2rem 3rem;
        font-size: 2.2rem;
      }
    }

    //When hovering over the parent element target the child elements and perform the transform
    //If i didnt choose the parent element and just added the hover to the child elements, they would transform only when i hover over them individually
    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    //Bring the back side of the card to the original position it would normally be in. Which is facing the user => 0 deg roataion
    &:hover &__side--back {
      transform: rotateY(0deg);
    }
  }
}
